:root {
    --primary-bg-color: #08090A;
    --text-color: #FFFFFF;
    --heading-text-color: #2188FF;
    --base-font: 'Arial', sans-serif;
    --padding-unit: 20px;
    --border-width: 0.5px;
    --link-color: #0077CC;
    --email-color: #1DB954; 

    --header-bg-color: #030405;
    --footer-bg-color: #030405;
    --link-text-color: var(--text-color);
    --nav-hover-bg-color: #050607;
    --body-bg-color: #010203;
    --section-bg-color: #18212b69;

    --designer-background: linear-gradient(45deg, #010101, #030303);
}

/* Body Styling */
body {
    font-family: var(--base-font);
    margin: 0;
    padding: 0;
    background: var(--designer-background);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-text-color);
}

/* Links Styling */
a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Email Addresses Styling */
a[href^="mailto:"] {
    color: var(--email-color);
}

/* Section Styling */
section {
    background-color: var(--section-bg-color);
    padding: var(--padding-unit);
    margin: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;

    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin-bottom: var(--padding-unit);
        border: none;
    }
}
